/** {
	box-sizing: border-box;
}*/

body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: avenir, sans-serif;
	font-size: 13px;
}

.container {
	display: flex;
	flex-direction: row;
}

.game {
	width: 512px;
}

#edit-options {
	justify-content: space-around;
	padding: 8px 0;
	border: 1px solid #555;
}

.side-bar {
	margin: 21px;
	width: 300px;
}

#paused {
	color: red;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

.level-editor {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

.level-button {
	margin: 0 1px 1px;
	padding: 5px 8px;
	background-color: #ff71ce;
	color: #222;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid gray;
	user-select: none;
}

.level-button:hover {
	cursor: pointer;
	background-color: #ce71ff;
}

.level-button:focus {
	outline: none;
}

#tiles {
	justify-content: flex-end;
}

.tile-icon {
	margin: 3px;
	width: 32px;
	height: 32px;
	border: 1px solid black;
	box-shadow: 3px 3px 1px #01cdfe;
}

.tile-icon:hover {
	cursor: pointer;
	box-shadow: 3px 3px 1px #05ffa1;
}

.tile-icon#block {
	background-color: #ff71ce;
	/*box-shadow: 2px 2px 2px #01cdfe;*/
}

.tile-icon#immovable {
	background-color: gray;
	/*box-shadow: 2px 2px 2px #01cdfe;*/
}

.tile-icon#exit {
	background-color: white;
	/*box-shadow: 2px 2px 2px #01cdfe;*/
}

.tile-icon#spawn-point {
	background-color: blue;
	/*box-shadow: 2px 2px 2px #01cdfe;*/
}

.tile-icon#delete {
	background-color: black;
	/*box-shadow: 2px 2px 2px #01cdfe;*/
}

.tile-icon#left-arrow {
	
}

.tile-icon#bad-spawn-point {
	background-color: red;
}

.tile-icon#portal-a {
	background-color: lime;
	border-radius: 100px;
}
.tile-icon#portal-b {
	background-color: aqua;
	border-radius: 100px;
}

.tile-icon#solid-portal-a {
	background-color: lime;
}
.tile-icon#solid-portal-b {
	background-color: aqua;
}

.tile-icon#movable-arrow-left {
	background-color: purple;
}

.tile-icon#movable-arrow-right {
	background-color: #993393;
}


.tile-icon.selected {
	border: 2px solid #eee;
}


.hidden {
	display: none;
}

span {
	display: inline;
}

.json {

	font-size: 10px;
	font-family: "Monaco", "Console New", monospace
}

.config-input {
	padding: 5px 8px;
	font-size: 13px;
	background-color: gray;
	color: white;
	border: 1px solid #ff71ce;
}

.config-input::-webkit-input-placeholder { /* Edge */
  color: white;
}

.config-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.config-input::placeholder {
  color: white;
}

.config-input:focus {
	background-color: #333;
}

.warning {
	color: #d6204e;
}

.perfect {
	color: #c5b358;
}

#copyright {
	color: #bbb;
	font-size: 13px;
}

a {
	color: #01cdfe;
}

a:visited {
	color: #91cdfe;
}

a:hover {
	color: #05ffa1;
}

#load {
	background-color: #05ffa1;
}


/*# sourceMappingURL=/style.e308ff8e.css.map */